[Desktop Entry]
Type=Application
Icon=daytime-sunset-symbolic
NoDisplay=false
Exec=/usr/local/bin/setThemeMacTahoeSolidDark.sh
Path=/usr/local/bin/
Terminal=false
X-GNOME-UsesNotifications=false
Categories=Settings;System;
Name=MacTahoe Solid Dark
Comment=Set the desktop theme to MacTahoe solid dark
Name[en_US]=MacTahoe Solid Dark
Name[en_US.UTF-8]=MacTahoe Solid Dark
Comment[en_US]=Set the desktop theme to MacTahoe solid dark
Comment[en_US.UTF-8]=Set the desktop theme to MacTahoe solid dark
Name[ro_RO]=MacTahoe Solid Întunecoasă
Name[ro_RO.UTF-8]=MacTahoe Solid Întunecoasă
Comment[ro_RO]=Setează tema desktopului în MacTahoe solid întunecoasă
Comment[ro_RO.UTF-8]=Setează tema desktopului în MacTahoe solid întunecoasă
Hidden=false
StartupNotify=false
